{% extends "base.html" %}
{% block content %}

                <div class="col-md-12">

                    <h2>Here it is: the URL for your filtered feed</h2>
                    
                    <p>Paste this URL into your RSS reader:</p>
                    <pre>{{ rss_url }}</pre>
                    
                    <ul class="list-inline buttons">
                        <li>
                            <button id="bookmark" type="button" class="btn btn-primary btn-sm">
                                Add to your bookmarks
                            </button>
                        </li>
                        <li>
                            <a href="{{ edit_url }}" class="btn btn-primary btn-sm">
                                Edit your filters
                            </a>
                        </li>
                        <li>
                            <a href="http://www.feedly.com/home#subscription/feed/{{ rss_url_encoded }}">
                                <img src="http://s3.feedly.com/img/follows/feedly-follow-rectangle-flat-medium_2x.png" alt="Add to Feedly" width="71" height="28" />
                            </a>
                        </li>
                    </ul>
                    
                    <div class="comparison">

                        <h3>This is a preview of your filtered feed:</h3>
                    
                        <table class="table table-condensed table-striped">
                        
                        {% for i in all_items %}
                            <tr class="{{ i.css_class }}">
                                <td>
                                    <small>{{ i.date }}</small>
                                </td>
                                <td>
                                    <a href="{{ i.url }}" title="{{ i.title }}">{{ i.title_wrap }}</a>
                                </td>
                            </tr>
                        
                        {% endfor %}
                        
                        </table>
                
                    </div>

                </div>

{% endblock %}
